
---
Checks: "*,
        -abseil-*,
        -fuchsia-*,
        -llvmlibc-*,
        -zircon-*,
        -android-cloexec-fopen,
        -bugprone-easily-swappable-parameters,
        -readability-identifier-length,
        -altera-unroll-loops,
        -misc-include-cleaner,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers,
        -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
        -google-build-using-namespace,
        -modernize-use-trailing-return-type,
         -misc-non-private-member-variables-in-classes
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
